.container {
  min-height: 100vh;
}

main {
  padding: 1rem 2rem;
}

.category {
  color: #343434;

  margin-bottom: 1rem;
}

.em {
  color: slateblue;
}

.animeContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
