.container {
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

main {
    padding: 1rem 2rem;
}

.category {
    color: #343434;

    margin-bottom: 1rem;
}

.em {
    color: slateblue;
}